.card {
  text-align: start;
  padding: 50px;
}
.cardTitle {
  display: flex;
}

.points {
  margin-top: 20px;
  line-height: 3vh;
}
.cardImg {
  max-width: 100px;
  max-height: 100px;
  margin-left: 20px;
}
.carousel-root {
  width: 900px;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.5);
  margin: 100px auto;
  border-radius: 15px;
  background: #CBB3BF;
}

.carousel-status {
  display: none;
}


@media only screen and (max-width: 1024px) {
  .carousel-root {
    width: 100%;
  }
}
